@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');
@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .maintext {
    @apply content-center select-none font-extrabold text-transparent sm:text-8xl text-4xl flex justify-center pt-64 pb-8
    dark:bg-clip-text dark:bg-gradient-to-l dark:from-indigo-700 dark:via-purple-500 dark:to-pink-500 
    bg-clip-text bg-gradient-to-l from-indigo-700 via-blue-500 to-blue-300
  }
  .theme-icon {
    @apply h-12 w-12 items-center flex justify-center rounded-3xl 
    hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer 
    text-indigo-300 dark:text-gray-700
  } 
  .links-icon {
    @apply h-12 w-12 mt-2 mb-2 ml-3 mr-3 sm:ml-6 sm:mr-6 text-5xl 
    items-center flex justify-center hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear cursor-pointer hover:text-white;
  }
  .github-icon {
    @apply hover:bg-gradient-to-l from-gh via-ghl to-gh 
    dark:hover:bg-gradient-to-l dark:from-gray-100 dark:via-white dark:to-gray-100
    text-gh dark:text-white dark:hover:text-gh dark:hover:bg-white
  }
  .discord-icon {
    @apply 	hover:bg-gradient-to-r from-blurple via-indigo-400 to-blurplel dark:hover:bg-blurple text-blurple
  }
  .twitch-icon {
    @apply hover:bg-gradient-to-l from-purple-600 via-indigo-500 to-purple-500 dark:hover:bg-purple-600 text-purple-500
  }
  .yt-icon {
    @apply hover:bg-gradient-to-l from-red-600 via-red-500 to-red-600 hover:bg-red-600  dark:hover:bg-red-600 text-red-500
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
